.App {
    min-height: 100vh;
}

.flex-fill {
    flex:1 1 auto;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.row .full-height {
    display: table-cell;
    float: none;
}

.messages {
    overflow-y: scroll;
    overflow-x: auto;
    margin-bottom: 60px;
    height: 100%;
}

.input {
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
    height: 60px;
}

.main {
}

.side {
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
